{% extends "layout.html" %} {% block title %} findfriends {% endblock %} {% block main %}

<head>
    <div class="box">
        <br>
        <h3 class="lightheader">Find your friends!</h3>
        <br>
    </div>
</head>

<body>
    <br>
    <form action="/findfriends" method="post">
        <div class="lavender">
            <br>
            <!-- Via https://stackoverflow.com/questions/36712967/single-dropdown-with-search-box-in-it -->
            <datalist id="suggestions" required>
                {% for value in usernames %}
                <option>{{value}}</option>
                {% endfor %}
            </datalist>
            <input autoComplete="on" list="suggestions" name="username" required>
            <br> <br>
        </div>
        <br>
        <div class="box">
            <br>
            <button class="button" type="submit"> Follow </button>
            <br>
            <br>
        </div>
    </form>
</body>

{% endblock %}