{% extends "layout.html" %}

{% block title %}
    report
{% endblock %}

{% block main %}
    <head>
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
    </head>
    <form action="/report" method="post">
        <div class="alert alert-primary" role="alert">
            <h3>Insert sleep data:</h3>
        </div>
        <div class="alert alert-secondary" role="alert")> 
            <label> Today's Date:</label> <br>
            <input id="date" name="date" type="date">
            <br><br>
            <label> Time you fell asleep last night:</label> <br>
            <input id="bedtime" name="bedtime" type="time">
            <br><br>
            <label> Time you woke up this morning:</label> <br>
            <input id="wakeup" name="wakeup" type="time">
            <br><br>
            <!-- Courtesy of https://www.youtube.com/watch?v=u3rylF3y3og-->
            <!-- Courtesy of https://www.w3schools.com/howto/howto_css_star_rating.asp-->
            <div> 
                <label> Rate your sleep out of 5: </label> <br>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>              
            <br><br>
        </div>
        <div class="alert alert-primary" role="alert">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
