{% extends "layout.html" %}

{% block title %}
    report
{% endblock %}

{% block main %}
    <head>
        <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet"
                integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                crossorigin="anonymous">
    </head>
    <form action="/report" method="post">
        <div class="alert alert-primary" role="alert">
            <h3>Insert sleep data:</h3>
        </div>
        <div class="alert alert-secondary" role="alert")> 
            <input id="date" name="date" placeholder="Today's Date" type="date">
            <br><br>
            <input id="bedtime" name="bedtime" placeholder="Bedtime" type="time">
            <br><br>
            <input id="wakeup" name="wakeup" placeholder="Wake Up" type="time">
            <br><br>
            <!-- Courtesy of https://www.youtube.com/watch?v=u3rylF3y3og-->
            <div> 
                <div class="stars-outer">
                    <div class="stars-inner"></div>
                </div>
                <span class="number-rating"></span>
            </div> 
            <script>
                //Initial ratings
                const ratings = {}
            </script>         
            <br><br>
        </div>
        <div class="alert alert-primary" role="alert">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
{% endblock %}
